.signupBackground {
  display: flex;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(50px);
  top: 0vh;
  background-color: rgba(0, 0, 0, 0.375);
  left: 0vw;
  justify-content: center;
  z-index: 100;
  overflow: hidden;
  position: fixed;
}

.signupContainer {
    background-color: rgb(245, 241, 241);
    width: 55vw;
    height: 75vh;
    margin: auto;
    display: flex;
    border-radius: 7px;
    -webkit-box-shadow: 12px 13px 25px -12px rgba(48, 48, 48, 0.75);
    -moz-box-shadow: 12px 13px 25px -12px rgba(109, 108, 108, 0.75);
    box-shadow: 12px 13px 25px -12px rgba(115, 112, 112, 0.75);
    position: relative;
  }

  .signupImage {
    width: 50%;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
  }

  .signupForm {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 90px;
  }
  .signupFormTitle {
    position: absolute;
    top: 30px;
    left: 55%;
    font-weight: bolder;
    font-size: 2rem !important;
  }

  .signupFormInput {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(236, 236, 236);
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }

  .signupFormDropDown{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: rgb(111, 111, 111);
    background-color: rgb(255, 255, 255);
  }

  .signupFormDropDown:focus{
    border: 3px solid rgba(52, 118, 210, 0.599);
    outline: none;
  }

  .show_password {
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .show_password > #showPassword {
    size: small;
  }

  .signupFormShowPassword {
    cursor: pointer;
    font-size: 0.8rem;
    align-self: bottom;
    margin-left: 10px;
  }
  .signupFormInput:focus {
    border: 3px solid rgba(52, 118, 210, 0.599);
    outline: none;
  }
  .signupFormButton{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: #017aff;
    font-weight: bold;
  }

  .signupCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem !important;
  }
