.home {
    background-color: rgb(237, 237, 237);
    position: relative;
    height: max-content;
    min-height: 100vh;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5%;
    padding-top: 0%;
}

.home_image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgb(32, 32, 32), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -300px;
}


.container {
    padding-top: 50px !important;
}